@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300&display=swap");

$color: #34495e;
$font-title: Open Sans, sans-serif;
$font-article: Poppins, sans-serif;

// Break point

$break-point-bigScreen: 992px;
